html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

/*body*/
body{
    font-family: 'Aleo';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #0D606F;  
}

img{
    max-width: 100%;
    height: auto;
}

/*wrapper*/
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
}

.wrapper-full{
    max-width: 1440px;
    margin: 0 auto;
}

.section-title{
    position: absolute;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px; 
    color: #F2785C;
}

/*header styles start*/
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 34px;
}
.header{
    background: rgba(242, 120, 92, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    
}
.header_item{
    margin-right: 42px;
}
.header_item:last-child{
    margin-right: 0;
}

.header_link{
    line-height: 24px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.header_link:hover,.header_link:focus,.header_link:active{
    opacity: 0.75;
}

.header_login-button{
    
    width: 103px;
    height: 41px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;

    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
}
.header_login-button:hover, .header_login-button:focus, .header_login-button:active{
   background: #164A43;
}
/*header styles end*/

/*intro styles start*/
.intro{
    min-height: 100vh;
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 122px;
}
.intro_title{
   width: 860px;
   height: 190px;
   left: calc(50% - 892px/2);
   margin-bottom: 22px;

   font-family: 'Aleo';
   font-weight: 700;
   font-size: 80px;
   line-height: 96px;

   color: #FFFFFF;
}

.intro_subtitle{
    color: white;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 46px;
}

.search-form_info{
   display: flex; 
   flex-wrap: wrap;
}

.search-form_field{  
    position: absolute;
    width: 892px;
    height: 95px;
    left: 120px;
    padding-left: 40px;
    top: 416px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px; 
    border: 0;
}

.search-form_submit{
    position: absolute;
    width: 228px;
    height: 59px;
    left: 766px;
    top: 435px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;
    font-style: normal;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.search-form_field::placeholder{ 
   font-family: 'Aleo';
   font-style: italic;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: #F2785C; 
}

.search-form_submit:hover, .search-form_submit:focus, .search-form_submit:active{
   background: #164A43;
}
/*intro styles end*/


/*steps styles*/

.steps_wrap{
    max-width: 1177px; 
    margin: 0 auto;
    position: relative;
}

.steps_title{
    padding: 80px 283px 40px 283px; 
}

.steps_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    padding: 170px 50px 97px ;
    text-align: center;
}

.steps_card{
    grid-column: span 1;
}

.steps_card-pic{
    max-width: 66xp;
    margin-bottom: 30px;
}

.steps_card-title{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F; 
}

/*steps styles end*/


/*destinations styles*/

.destinations{
    margin-bottom: 1080px;
}
.destinations_wrap{
    max-width: 1177px; 
    margin: 0 auto;
    position: relative;
}

.destinations_title{
    padding: 0px 325px 40px; 
}
/*destinations styles end*/


/*slider styles*/
.slider{
    width: 300%;
    height: 100%;
    display: flex;
}
.slider_middle{
    position: absolute;
    width: 1100px;
    height: 800px;
    overflow: hidden;
    margin-bottom: 100px;
    top: 500px;
    left:590px;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 550px;
    bottom: 70px;
    transform:translate(-50%);
    display: flex;
}

.bar{
    height: 20px;
    width: 20px;
    margin: 6px;
    cursor: pointer;
    background-color: #F2785C;
    opacity: 0.7;
    border-radius: 10px;
    transition: all 0.4s ease;    
}

.bar:hover{
    opacity: 1;
    transform: scale(1.1);
}

input[name="radio"]{
    position: absolute;
    visibility: hidden;
}
.slide{
    width: 25%;
    transition: all 0.8s ease;
}
.slide img{
    width: 750%;
    height: 85%;
    padding: 0 20px;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -21%;
}
#r3:checked ~ .s1{
    margin-left: -44%;
}

.find_more-button{
    position: absolute;
    top: 900px;
    left: 481px;
    width: 228px;
    height: 59px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;

    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0;

    align-items: center;
    padding: 10px 32px;
}
.find_more-button:hover, .find_more-button:focus, .find_more-button:active{
    background: #164A43;
}
/*.find_more-button::after {
    display: block;
    position: absolute; 
    content: '';
    top: 0;
    left: 0;
    background: url(../img/svg/arrow.svg) no-repeat ; 
}*/

/*slider styles end*/


/*stories styles*/

.stories_title{
    padding: 0px 470px;
    margin-bottom: 80px;
}
.tours{
  padding-top: 80px;   
}

.tours_tour{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-top: 30px;
}

.tour_title{
    margin-bottom: 24px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}
.tour_desc{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F; 
}
.tour_more{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F; 
}


/*stories styles end*/